<!DOCTYPE html>
<html lang="en">
<head>
    {{>baseHead}}
    <title>Home</title>
</head>
<body>
    <div class="main-container-body">
        {{>header}}

        {{!-- loop all post --}}
        {{#each allPost}}
            <div>
                <div>
                    <h4><a href="/post/{{ this.id }}">{{this.name}}</a></h4>
                    <div>
                        <a href="/post/update/{{ this.id }}">Edit</a>
                        <a href="/post/delete/{{ this.id }}">Delete</a>
                    </div>

                </div>
                <p>
                    <span>{{this.date}} | </span>
                    <span>{{this.topic}}</span>
                </p>
            </div>
        {{/each}}
    </div>
    {{>footer}}
</body>
</html>