<!DOCTYPE html>
<html lang="en">
<head>
    {{>baseHead}}
    <title>Home</title>
</head>
<body>
    <div class="main-container-body">
        {{>header}}
        <div class="container-post">
            {{!-- loop all post --}}
            {{#each allPost}}
                <div class="box-post">
                    <div class="head-post">
                        <h4><a href="/post/{{ this.id }}">{{this.name}}</a></h4>
                        <div class="button-ud">
                            <a href="/post/update/{{ this.id }}"><img src="/static/edit.png" style="height: 15px;" alt=""></a>
                            <a href="/post/delete/{{ this.id }}"><img src="/static/delete.png" style="height: 15px;" alt=""></a>
                        </div>

                    </div>
                    <p class="data-post">
                        <span>{{this.date}}</span><br>
                        <span>{{this.topic}}</span>
                    </p>
                </div>
            {{/each}}
        </div>
        {{>footer}}
    </div>
</body>
</html>