<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's know you</title>
</head>
<body>
    {{>header}}
     <div class="main-container" style="background-color: rgb(184, 224, 211);">
        <h1>Form</h1>
        <p>Nice to first meet you!!</p>
        <form action="/" method="post">
            <p>
                <input type="text" name="name" value="{{this.name}}" placeholder="name">
            </p>
            <p>
                <input type="date" name="date_of_birth" value="{{this.date_of_birth}}">
            </p>
            <p>
                <input type="text" name="goal" value="{{this.goal}}" placeholder="goal">
            </p>
            <p>
                <input type="text" name="inspiration" value="{{this.inspiration}}" placeholder="inspiration">
            </p>
            <p>
                <button type="submit">NEXT</button>
            </p>
        </form>
        {{#if message}}
            <p>{{ message }}</p>
        {{/if}}
    </div>
    {{>footer}}
</body>
</html>
