<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/static/IMG_4927.PNG">
    <title>Myspace</title>
</head>
<body>
    <div class="main-container" style="background-color: rgb(184, 224, 211);">
        {{>header}}
        {{#each user as |user|}}
            <h2>Hello {{user.name}}</h2>         
            <span>
                <p>GOAL : {{user.goal}}</p>
                <p>INSPIRATION : {{user.inspiration}}</p>
            </span>
        {{/each}}
        
            <h2>MyDiary</h2> 

            {{!-- เอาปุ่มแก้และลบมาใส่ตรงนี้ ตอนทำ css  --}}
            
        {{#each post3ID as |post3ID|}}
            <span>
                <p>{{post3ID.name}}</p>
                <p>{{post3ID.date}}</p>
                <p>{{post3ID.topic}}</p>
                <p>{{post3ID.tell_story}}</p>
            </span>
        {{/each}}

    </div>
    {{>footer}}
</body>
</html>