<!DOCTYPE html>
<html lang="en">
<head>
    {{>baseHead}}
    <title>{{name}}</title>
</head>
<body>
        {{>header}}
    <div class="main-container-body-postId">
        <div class="postId-page">
            {{#if postID}}
                    <h2>{{postID.name}}</h2>
                    <p>
                        <span>Name : {{postID.name}}</span><br>
                        <span>Date : {{postID.datePostFormat}}</span><br>
                        <span>Topic : {{postID.topic}}</span><br>
                        <span>Story : {{postID.tell_story}}</span>
                    </p>
            {{else}}
                <h2 class="error-page">This post is NOT FOUND - 404</h2>
            {{/if}}
        </div>
        
    </div>
    {{>footer}}
</body>
</html>